.cell {
  stroke: none;
}

.legend rect {
  stroke: none;
}

#tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  pointer-events: none;
}

.hidden {
  display: none;
}
